n8n/1_network_security_monitoring.json
{
  "name": "NetGuard - Security Monitoring & Alerting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "a1b2c3d4-0001-4000-a000-000000000001"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/health",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0],
      "id": "a1b2c3d4-0001-4000-a000-000000000002"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/dashboard/stats",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Get Dashboard Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, -100],
      "id": "a1b2c3d4-0001-4000-a000-000000000003"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/anomalies?per_page=50&risk_level=Critical",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Get Critical Anomalies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 100],
      "id": "a1b2c3d4-0001-4000-a000-000000000004"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-health-1",
              "leftValue": "={{ $('Health Check').item.json.status }}",
              "rightValue": "healthy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is API Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [250, 200],
      "id": "a1b2c3d4-0001-4000-a000-000000000005"
    },
    {
      "parameters": {
        "jsCode": "// Stats from earlier step; anomaly list = this node's input (Get Critical Anomalies output).\nconst stats = $('Get Dashboard Stats').first().json;\nconst anomalyData = $input.first().json;\n\nconst totalFlows = stats.total_flows || 0;\nconst totalAnomalies = stats.total_anomalies || 0;\nconst anomalyRate = totalFlows > 0 ? (totalAnomalies / totalFlows) * 100 : 0;\nconst avgRiskScore = stats.avg_risk_score || 0;\n\n// Thresholds (configurable via env vars)\nconst ANOMALY_RATE_THRESHOLD = 15;\nconst RISK_SCORE_THRESHOLD = 0.6;\nconst CRITICAL_COUNT_THRESHOLD = 5;\n\nconst riskDist = stats.risk_distribution || {};\nconst criticalCount = riskDist.Critical || 0;\nconst highCount = riskDist.High || 0;\n\nconst criticalAnomalies = anomalyData.threats || [];\n\nconst alerts = [];\n\nif (anomalyRate > ANOMALY_RATE_THRESHOLD) {\n  alerts.push({\n    type: 'HIGH_ANOMALY_RATE',\n    severity: 'Critical',\n    message: `Anomaly rate ${anomalyRate.toFixed(1)}% exceeds threshold ${ANOMALY_RATE_THRESHOLD}%`,\n    value: anomalyRate\n  });\n}\n\nif (avgRiskScore > RISK_SCORE_THRESHOLD) {\n  alerts.push({\n    type: 'HIGH_AVG_RISK',\n    severity: 'High',\n    message: `Average risk score ${avgRiskScore.toFixed(3)} exceeds threshold ${RISK_SCORE_THRESHOLD}`,\n    value: avgRiskScore\n  });\n}\n\nif (criticalCount > CRITICAL_COUNT_THRESHOLD) {\n  alerts.push({\n    type: 'CRITICAL_THREATS',\n    severity: 'Critical',\n    message: `${criticalCount} critical threats detected (threshold: ${CRITICAL_COUNT_THRESHOLD})`,\n    value: criticalCount\n  });\n}\n\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    total_flows: totalFlows,\n    total_anomalies: totalAnomalies,\n    anomaly_rate: anomalyRate,\n    avg_risk_score: avgRiskScore,\n    risk_distribution: riskDist,\n    attack_distribution: stats.attack_distribution || {},\n    critical_count: criticalCount,\n    high_count: highCount,\n    has_alerts: alerts.length > 0,\n    alert_count: alerts.length,\n    alerts: alerts,\n    top_critical_anomalies: criticalAnomalies.slice(0, 10),\n    top_source_ips: stats.top_src_ips || [],\n    top_dest_ips: stats.top_dst_ips || []\n  }\n}];"
      },
      "name": "Analyze Threats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 0],
      "id": "a1b2c3d4-0001-4000-a000-000000000006"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-alert-1",
              "leftValue": "={{ $json.has_alerts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Alerts Triggered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 0],
      "id": "a1b2c3d4-0001-4000-a000-000000000007"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst alerts = data.alerts || [];\n\nlet subject = `⚠️ NetGuard Alert: ${alerts.length} security issue(s) detected`;\n\nlet body = `# NetGuard Security Alert\\n\\n`;\nbody += `**Timestamp:** ${data.timestamp}\\n\\n`;\nbody += `## Summary\\n`;\nbody += `- Total Flows Analyzed: **${data.total_flows}**\\n`;\nbody += `- Anomalies Detected: **${data.total_anomalies}**\\n`;\nbody += `- Anomaly Rate: **${data.anomaly_rate.toFixed(1)}%**\\n`;\nbody += `- Avg Risk Score: **${data.avg_risk_score.toFixed(3)}**\\n\\n`;\n\nbody += `## Risk Distribution\\n`;\nconst rd = data.risk_distribution;\nbody += `| Level | Count |\\n|-------|-------|\\n`;\nfor (const [level, count] of Object.entries(rd)) {\n  body += `| ${level} | ${count} |\\n`;\n}\nbody += `\\n`;\n\nbody += `## Alerts\\n`;\nfor (const alert of alerts) {\n  body += `### [${alert.severity}] ${alert.type}\\n`;\n  body += `${alert.message}\\n\\n`;\n}\n\nif (data.top_critical_anomalies && data.top_critical_anomalies.length > 0) {\n  body += `## Top Critical Threats\\n`;\n  body += `| Source IP | Classification | Risk Score | Risk Level |\\n`;\n  body += `|-----------|---------------|------------|------------|\\n`;\n  for (const t of data.top_critical_anomalies.slice(0, 10)) {\n    body += `| ${t.src_ip || 'N/A'} | ${t.classification || 'Unknown'} | ${(t.risk_score || 0).toFixed(3)} | ${t.risk_level || 'Unknown'} |\\n`;\n  }\n}\n\nif (data.top_source_ips && data.top_source_ips.length > 0) {\n  body += `\\n## Top Source IPs\\n`;\n  for (const ip of data.top_source_ips.slice(0, 5)) {\n    body += `- **${ip.ip}**: ${ip.count} flows\\n`;\n  }\n}\n\nreturn [{ json: { subject, body, alert_count: alerts.length, severity: alerts[0]?.severity || 'Medium', raw_data: data } }];"
      },
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, -100],
      "id": "a1b2c3d4-0001-4000-a000-000000000008"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.subject) }},\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": { \"type\": \"plain_text\", \"text\": {{ JSON.stringify($json.subject) }} }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": {{ JSON.stringify($json.body.substring(0, 2900)) }} }\n    }\n  ]\n}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Send Alert (Webhook/Slack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1550, -100],
      "id": "a1b2c3d4-0001-4000-a000-000000000009"
    },
    {
      "parameters": {
        "jsCode": "// API is down — format a critical alert\nconst healthResponse = $('Health Check').first();\n\nreturn [{\n  json: {\n    subject: '🚨 NetGuard API is DOWN',\n    body: `# CRITICAL: NetGuard API Unreachable\\n\\n**Timestamp:** ${new Date().toISOString()}\\n\\nThe NetGuard backend API health check failed. The system may be offline.\\n\\n**Action Required:** Check if the FastAPI backend is running at the configured URL.\\n\\n**Response:** ${JSON.stringify(healthResponse?.json || 'No response', null, 2)}`,\n    severity: 'Critical',\n    alert_count: 1\n  }\n}];"
      },
      "name": "API Down Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "id": "a1b2c3d4-0001-4000-a000-000000000010"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.subject) }},\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": { \"type\": \"plain_text\", \"text\": {{ JSON.stringify($json.subject) }} }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": {{ JSON.stringify($json.body.substring(0, 2900)) }} }\n    }\n  ]\n}",
        "options": {}
      },
      "name": "Send API Down Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300],
      "id": "a1b2c3d4-0001-4000-a000-000000000011"
    },
    {
      "parameters": {},
      "name": "No Alerts - All Clear",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1300, 100],
      "id": "a1b2c3d4-0001-4000-a000-000000000012"
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Is API Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is API Healthy?": {
      "main": [
        [
          {
            "node": "Get Dashboard Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Down Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dashboard Stats": {
      "main": [
        [
          {
            "node": "Get Critical Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Critical Anomalies": {
      "main": [
        [
          {
            "node": "Analyze Threats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Threats": {
      "main": [
        [
          {
            "node": "Alerts Triggered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerts Triggered?": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Alerts - All Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Send Alert (Webhook/Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Down Alert": {
      "main": [
        [
          {
            "node": "Send API Down Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "NetGuard",
      "id": "tag-netguard-1"
    },
    {
      "name": "Monitoring",
      "id": "tag-monitoring-1"
    }
  ],
  "pinData": {}
}
