n8n/2_automated_file_analysis.json
{
  "name": "NetGuard - Automated File Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "netguard-analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Receive File Path",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "b1b2c3d4-0002-4000-b000-000000000001",
      "webhookId": "netguard-analyze-webhook"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "name": "Scheduled Check (Every 10 Min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 350],
      "id": "b1b2c3d4-0002-4000-b000-000000000002"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/health",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Check API Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 350],
      "id": "b1b2c3d4-0002-4000-b000-000000000003"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/dashboard/stats",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Get Latest Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 350],
      "id": "b1b2c3d4-0002-4000-b000-000000000004"
    },
    {
      "parameters": {
        "jsCode": "// Check if any new flows were analyzed since last check\nconst stats = $input.first().json;\nconst totalFlows = stats.total_flows || 0;\nconst anomalies = stats.total_anomalies || 0;\nconst anomalyRate = totalFlows > 0 ? (anomalies / totalFlows * 100) : 0;\n\nreturn [{\n  json: {\n    total_flows: totalFlows,\n    total_anomalies: anomalies,\n    anomaly_rate: anomalyRate,\n    avg_risk_score: stats.avg_risk_score || 0,\n    attack_distribution: stats.attack_distribution || {},\n    risk_distribution: stats.risk_distribution || {},\n    has_data: totalFlows > 0,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Summarize Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 350],
      "id": "b1b2c3d4-0002-4000-b000-000000000005"
    },
    {
      "parameters": {
        "jsCode": "// Extract file path from webhook body\nconst body = $input.first().json.body || $input.first().json;\nconst filePath = body.file_path || body.filePath || '';\nconst filename = filePath ? filePath.split('/').pop() : '';\n\nif (!filePath) {\n  throw new Error('No file_path provided in webhook body. Send: {\"file_path\": \"/path/to/file.pcap\"}');\n}\n\nreturn [{\n  json: {\n    file_path: filePath,\n    filename: filename\n  }\n}];"
      },
      "name": "Parse Webhook Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0],
      "id": "b1b2c3d4-0002-4000-b000-000000000006"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "name": "Upload File to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 0],
      "id": "b1b2c3d4-0002-4000-b000-000000000007"
    },
    {
      "parameters": {
        "jsCode": "// Process the upload response and check for threats\nconst result = $input.first().json;\n\nconst totalFlows = result.total_flows || 0;\nconst anomalyCount = result.anomaly_count || 0;\nconst avgRiskScore = result.avg_risk_score || 0;\nconst attackDist = result.attack_distribution || {};\nconst riskDist = result.risk_distribution || {};\n\nconst threatTypes = Object.entries(attackDist)\n  .filter(([key]) => key.toUpperCase() !== 'BENIGN')\n  .sort((a, b) => b[1] - a[1]);\n\nconst hasCriticalThreats = (riskDist.Critical || 0) > 0;\nconst hasHighThreats = (riskDist.High || 0) > 0;\nconst anomalyRate = totalFlows > 0 ? (anomalyCount / totalFlows * 100) : 0;\n\nlet severity = 'Low';\nif (hasCriticalThreats) severity = 'Critical';\nelse if (hasHighThreats) severity = 'High';\nelse if (anomalyRate > 10) severity = 'Medium';\n\nreturn [{\n  json: {\n    analysis_id: result.id,\n    filename: result.filename,\n    total_flows: totalFlows,\n    anomaly_count: anomalyCount,\n    anomaly_rate: anomalyRate,\n    avg_risk_score: avgRiskScore,\n    attack_distribution: attackDist,\n    risk_distribution: riskDist,\n    threat_types: threatTypes,\n    has_threats: threatTypes.length > 0 || anomalyCount > 0,\n    severity: severity,\n    sample_flows: (result.sample_flows || []).slice(0, 5),\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Evaluate Analysis Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 0],
      "id": "b1b2c3d4-0002-4000-b000-000000000008"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-threats-1",
              "leftValue": "={{ $json.has_threats }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Threats Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 0],
      "id": "b1b2c3d4-0002-4000-b000-000000000009"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet subject = `NetGuard: Threats found in ${data.filename}`;\n\nlet body = `# File Analysis Report\\n\\n`;\nbody += `**File:** ${data.filename}\\n`;\nbody += `**Analysis ID:** ${data.analysis_id}\\n`;\nbody += `**Time:** ${data.timestamp}\\n\\n`;\n\nbody += `## Summary\\n`;\nbody += `- Total Flows: **${data.total_flows}**\\n`;\nbody += `- Anomalies: **${data.anomaly_count}** (${data.anomaly_rate.toFixed(1)}%)\\n`;\nbody += `- Avg Risk Score: **${data.avg_risk_score.toFixed(3)}**\\n`;\nbody += `- Severity: **${data.severity}**\\n\\n`;\n\nif (data.threat_types.length > 0) {\n  body += `## Threat Breakdown\\n`;\n  for (const [type, count] of data.threat_types) {\n    body += `- ${type}: ${count} flows\\n`;\n  }\n  body += `\\n`;\n}\n\nbody += `## Risk Distribution\\n`;\nfor (const [level, count] of Object.entries(data.risk_distribution)) {\n  body += `- ${level}: ${count}\\n`;\n}\n\nreturn [{ json: { subject, body, severity: data.severity, analysis_id: data.analysis_id } }];"
      },
      "name": "Format Threat Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, -100],
      "id": "b1b2c3d4-0002-4000-b000-000000000010"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.subject + '\\n\\n' + $json.body.substring(0, 2900)) }}\n}",
        "options": {}
      },
      "name": "Send Threat Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, -100],
      "id": "b1b2c3d4-0002-4000-b000-000000000011"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'completed', analysis_id: $('Evaluate Analysis Results').first().json.analysis_id, total_flows: $('Evaluate Analysis Results').first().json.total_flows, anomalies: $('Evaluate Analysis Results').first().json.anomaly_count, threats_found: $('Evaluate Analysis Results').first().json.has_threats }) }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 100],
      "id": "b1b2c3d4-0002-4000-b000-000000000012"
    }
  ],
  "connections": {
    "Webhook - Receive File Path": {
      "main": [
        [
          {
            "node": "Parse Webhook Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Input": {
      "main": [
        [
          {
            "node": "Upload File to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to API": {
      "main": [
        [
          {
            "node": "Evaluate Analysis Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Analysis Results": {
      "main": [
        [
          {
            "node": "Threats Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threats Detected?": {
      "main": [
        [
          {
            "node": "Format Threat Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Threat Report": {
      "main": [
        [
          {
            "node": "Send Threat Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled Check (Every 10 Min)": {
      "main": [
        [
          {
            "node": "Check API Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Health": {
      "main": [
        [
          {
            "node": "Get Latest Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Stats": {
      "main": [
        [
          {
            "node": "Summarize Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "NetGuard",
      "id": "tag-netguard-2"
    },
    {
      "name": "Analysis",
      "id": "tag-analysis-1"
    }
  ],
  "pinData": {}
}
