n8n/3_training_pipeline.json
{
  "name": "NetGuard - Training Pipeline Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 2,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "name": "Weekly Schedule (Mon 2AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "c1b2c3d4-0003-4000-c000-000000000001"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "netguard-train",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Manual Train Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 250],
      "id": "c1b2c3d4-0003-4000-c000-000000000002",
      "webhookId": "netguard-train-webhook"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/models/metrics",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Get Current Model Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 0],
      "id": "c1b2c3d4-0003-4000-c000-000000000003"
    },
    {
      "parameters": {
        "jsCode": "const metrics = $input.first().json;\n\nconst currentModels = metrics.models || {};\nconst rfMetrics = currentModels.random_forest || {};\nconst trainingInfo = metrics.training_info || {};\nconst liveMetrics = metrics.live_metrics || {};\nconst modelStatus = metrics.model_status || {};\n\nreturn [{\n  json: {\n    current_state: {\n      rf_accuracy: rfMetrics.accuracy || 0,\n      rf_f1: rfMetrics.f1_score || 0,\n      rf_precision: rfMetrics.precision || 0,\n      rf_recall: rfMetrics.recall || 0,\n      last_trained: trainingInfo.last_trained || 'never',\n      total_samples: trainingInfo.total_samples || 0,\n      feature_count: trainingInfo.feature_count || 0\n    },\n    live_metrics: {\n      total_flows: liveMetrics.total_flows || 0,\n      anomaly_rate: liveMetrics.anomaly_rate || 0,\n      avg_risk_score: liveMetrics.avg_risk_score || 0\n    },\n    model_status: {\n      supervised_loaded: modelStatus.supervised_loaded || false,\n      unsupervised_loaded: modelStatus.unsupervised_loaded || false,\n      scaler_loaded: modelStatus.scaler_loaded || false\n    },\n    source: metrics.source || 'unknown',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Analyze Model State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 0],
      "id": "c1b2c3d4-0003-4000-c000-000000000004"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst state = data.current_state;\nconst ms = data.model_status;\nconst live = data.live_metrics;\n\nlet subject, body;\n\nif (ms.supervised_loaded && ms.unsupervised_loaded) {\n  subject = `NetGuard Training Report - Models Active`;\n  body = `# Training Pipeline Status\\n\\n`;\n  body += `**Timestamp:** ${data.timestamp}\\n\\n`;\n  body += `## Current Model Performance\\n`;\n  body += `- Random Forest Accuracy: **${(state.rf_accuracy * 100).toFixed(1)}%**\\n`;\n  body += `- F1 Score: **${(state.rf_f1 * 100).toFixed(1)}%**\\n`;\n  body += `- Precision: **${(state.rf_precision * 100).toFixed(1)}%**\\n`;\n  body += `- Recall: **${(state.rf_recall * 100).toFixed(1)}%**\\n\\n`;\n  body += `## Model Status\\n`;\n  body += `- Supervised (RF): ${ms.supervised_loaded ? 'Loaded' : 'NOT loaded'}\\n`;\n  body += `- Unsupervised (IF): ${ms.unsupervised_loaded ? 'Loaded' : 'NOT loaded'}\\n`;\n  body += `- Scaler: ${ms.scaler_loaded ? 'Loaded' : 'NOT loaded'}\\n\\n`;\n  body += `## Live Stats\\n`;\n  body += `- Total Flows Analyzed: **${live.total_flows}**\\n`;\n  body += `- Anomaly Rate: **${live.anomaly_rate}%**\\n`;\n  body += `- Avg Risk Score: **${live.avg_risk_score}**\\n\\n`;\n  body += `## Training Info\\n`;\n  body += `- Last Trained: ${state.last_trained}\\n`;\n  body += `- Training Samples: ${state.total_samples}\\n`;\n  body += `- Features: ${state.feature_count}\\n\\n`;\n  body += `---\\n`;\n  body += `*To retrain: run \\`python -m training_pipeline.train\\` from the nal/ directory, then restart the backend.*\\n`;\n} else {\n  subject = `NetGuard: Models NOT fully loaded`;\n  body = `# Model Status Warning\\n\\n`;\n  body += `**Timestamp:** ${data.timestamp}\\n\\n`;\n  body += `Some models are not loaded:\\n`;\n  body += `- Supervised (RF): ${ms.supervised_loaded ? 'OK' : 'MISSING'}\\n`;\n  body += `- Unsupervised (IF): ${ms.unsupervised_loaded ? 'OK' : 'MISSING'}\\n`;\n  body += `- Scaler: ${ms.scaler_loaded ? 'OK' : 'MISSING'}\\n\\n`;\n  body += `Run the training pipeline to generate model artifacts:\\n`;\n  body += `\\`\\`\\`\\ncd nal\\npython -m training_pipeline.train\\n\\`\\`\\`\\n`;\n}\n\nreturn [{ json: { subject, body, models_loaded: ms.supervised_loaded && ms.unsupervised_loaded, model_status: ms, metrics: state } }];"
      },
      "name": "Format Training Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "id": "c1b2c3d4-0003-4000-c000-000000000005"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.subject + '\\n\\n' + $json.body.substring(0, 2900)) }}\n}",
        "options": {}
      },
      "name": "Send Training Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, -100],
      "id": "c1b2c3d4-0003-4000-c000-000000000006"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'completed', models_loaded: $json.models_loaded, model_status: $json.model_status, metrics: $json.metrics }) }}",
        "options": {}
      },
      "name": "Respond (Webhook)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 100],
      "id": "c1b2c3d4-0003-4000-c000-000000000007"
    }
  ],
  "connections": {
    "Weekly Schedule (Mon 2AM)": {
      "main": [
        [
          {
            "node": "Get Current Model Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Manual Train Trigger": {
      "main": [
        [
          {
            "node": "Get Current Model Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Model Metrics": {
      "main": [
        [
          {
            "node": "Analyze Model State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Model State": {
      "main": [
        [
          {
            "node": "Format Training Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Training Report": {
      "main": [
        [
          {
            "node": "Send Training Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond (Webhook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "NetGuard",
      "id": "tag-netguard-3"
    },
    {
      "name": "Training",
      "id": "tag-training-1"
    }
  ],
  "pinData": {}
}
