n8n/4_daily_security_report.json
{
  "name": "NetGuard - Daily Security Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "name": "Daily 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "d1b2c3d4-0004-4000-d000-000000000001"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/dashboard/stats",
        "options": {}
      },
      "name": "Dashboard Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, -200],
      "id": "d1b2c3d4-0004-4000-d000-000000000002"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/dashboard/stats?monitor_type=passive",
        "options": {}
      },
      "name": "Passive Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, -50],
      "id": "d1b2c3d4-0004-4000-d000-000000000003"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/dashboard/stats?monitor_type=active",
        "options": {}
      },
      "name": "Active Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 100],
      "id": "d1b2c3d4-0004-4000-d000-000000000004"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/anomalies?per_page=100",
        "options": {}
      },
      "name": "All Anomalies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 250],
      "id": "d1b2c3d4-0004-4000-d000-000000000005"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/traffic/trends?points=24",
        "options": {}
      },
      "name": "Traffic Trends (24h)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 400],
      "id": "d1b2c3d4-0004-4000-d000-000000000006"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/models/metrics",
        "options": {}
      },
      "name": "Model Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 550],
      "id": "d1b2c3d4-0004-4000-d000-000000000007"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/history?limit=20",
        "options": {}
      },
      "name": "Recent Analyses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 700],
      "id": "d1b2c3d4-0004-4000-d000-000000000008"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all data into a comprehensive daily report\nconst dashboard = $('Dashboard Stats').first().json;\nconst passive = $('Passive Stats').first().json;\nconst active = $('Active Stats').first().json;\nconst anomalyData = $('All Anomalies').first().json;\nconst trends = $('Traffic Trends (24h)').first().json;\nconst modelMetrics = $('Model Metrics').first().json;\nconst history = $('Recent Analyses').first().json;\n\nconst today = new Date().toISOString().split('T')[0];\n\n// Build the report\nlet subject = `📊 NetGuard Daily Security Report - ${today}`;\n\nlet body = `# NetGuard Daily Security Report\\n`;\nbody += `**Date:** ${today}\\n`;\nbody += `**Generated:** ${new Date().toISOString()}\\n\\n`;\n\n// Overall Summary\nbody += `---\\n## 📈 Overall Summary\\n\\n`;\nbody += `| Metric | Value |\\n|--------|-------|\\n`;\nbody += `| Total Flows | ${dashboard.total_flows || 0} |\\n`;\nbody += `| Total Anomalies | ${dashboard.total_anomalies || 0} |\\n`;\nbody += `| Anomaly Rate | ${dashboard.total_flows > 0 ? ((dashboard.total_anomalies / dashboard.total_flows) * 100).toFixed(1) : 0}% |\\n`;\nbody += `| Avg Risk Score | ${(dashboard.avg_risk_score || 0).toFixed(3)} |\\n\\n`;\n\n// Passive vs Active Breakdown\nbody += `## 🔄 Monitoring Mode Breakdown\\n\\n`;\nbody += `### Passive (File Uploads)\\n`;\nbody += `- Flows: ${passive.total_flows || 0}\\n`;\nbody += `- Anomalies: ${passive.total_anomalies || 0}\\n\\n`;\nbody += `### Active (Live Capture)\\n`;\nbody += `- Flows: ${active.total_flows || 0}\\n`;\nbody += `- Anomalies: ${active.total_anomalies || 0}\\n\\n`;\n\n// Risk Distribution\nconst riskDist = dashboard.risk_distribution || {};\nbody += `## 🎯 Risk Distribution\\n\\n`;\nbody += `| Level | Count |\\n|-------|-------|\\n`;\nfor (const [level, count] of Object.entries(riskDist)) {\n  body += `| ${level} | ${count} |\\n`;\n}\nbody += `\\n`;\n\n// Attack Distribution\nconst attackDist = dashboard.attack_distribution || {};\nif (Object.keys(attackDist).length > 0) {\n  body += `## ⚔️ Attack Distribution\\n\\n`;\n  body += `| Type | Count |\\n|------|-------|\\n`;\n  const sorted = Object.entries(attackDist).sort((a, b) => b[1] - a[1]);\n  for (const [type, count] of sorted) {\n    body += `| ${type} | ${count} |\\n`;\n  }\n  body += `\\n`;\n}\n\n// Top Threats\nconst threats = anomalyData.threats || [];\nif (threats.length > 0) {\n  body += `## 🚨 Top Threats (by risk)\\n\\n`;\n  body += `| Src IP | Classification | Threat Type | Risk | Level |\\n`;\n  body += `|--------|---------------|-------------|------|-------|\\n`;\n  for (const t of threats.slice(0, 15)) {\n    body += `| ${t.src_ip || 'N/A'} | ${t.classification || '-'} | ${t.threat_type || '-'} | ${(t.risk_score || 0).toFixed(3)} | ${t.risk_level || '-'} |\\n`;\n  }\n  body += `\\n`;\n}\n\n// Top IPs\nconst topSrc = dashboard.top_src_ips || [];\nconst topDst = dashboard.top_dst_ips || [];\nif (topSrc.length > 0) {\n  body += `## 🌐 Top Source IPs\\n\\n`;\n  for (const ip of topSrc.slice(0, 10)) {\n    body += `- **${ip.ip}**: ${ip.count} flows\\n`;\n  }\n  body += `\\n`;\n}\nif (topDst.length > 0) {\n  body += `## 🎯 Top Destination IPs\\n\\n`;\n  for (const ip of topDst.slice(0, 10)) {\n    body += `- **${ip.ip}**: ${ip.count} flows\\n`;\n  }\n  body += `\\n`;\n}\n\n// Model Status\nconst ms = modelMetrics.model_status || {};\nbody += `## 🤖 Model Status\\n\\n`;\nbody += `- Supervised (RF): ${ms.supervised_loaded ? '✅ Loaded' : '❌ Not loaded'}\\n`;\nbody += `- Unsupervised (IF): ${ms.unsupervised_loaded ? '✅ Loaded' : '❌ Not loaded'}\\n`;\nbody += `- Scaler: ${ms.scaler_loaded ? '✅ Loaded' : '❌ Not loaded'}\\n`;\n\nconst rfMetrics = (modelMetrics.models || {}).random_forest || {};\nif (rfMetrics.accuracy) {\n  body += `\\n### Random Forest Performance\\n`;\n  body += `- Accuracy: ${(rfMetrics.accuracy * 100).toFixed(1)}%\\n`;\n  body += `- F1 Score: ${(rfMetrics.f1_score * 100).toFixed(1)}%\\n`;\n  body += `- Precision: ${(rfMetrics.precision * 100).toFixed(1)}%\\n`;\n  body += `- Recall: ${(rfMetrics.recall * 100).toFixed(1)}%\\n`;\n}\nbody += `\\n`;\n\n// Recent Analyses\nconst analyses = history.analyses || [];\nif (analyses.length > 0) {\n  body += `## 📁 Recent Analyses\\n\\n`;\n  body += `| File | Flows | Anomalies | Avg Risk | Time |\\n`;\n  body += `|------|-------|-----------|----------|------|\\n`;\n  for (const a of analyses.slice(0, 10)) {\n    body += `| ${a.filename || '-'} | ${a.total_flows || 0} | ${a.anomaly_count || 0} | ${(a.avg_risk_score || 0).toFixed(3)} | ${a.uploaded_at || '-'} |\\n`;\n  }\n}\n\nbody += `\\n---\\n*Report generated by NetGuard n8n Automation*\\n`;\n\nreturn [{\n  json: {\n    subject,\n    body,\n    date: today,\n    summary: {\n      total_flows: dashboard.total_flows || 0,\n      total_anomalies: dashboard.total_anomalies || 0,\n      critical_count: riskDist.Critical || 0,\n      high_count: riskDist.High || 0\n    }\n  }\n}];"
      },
      "name": "Compile Daily Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200],
      "id": "d1b2c3d4-0004-4000-d000-000000000009"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.subject) }},\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": { \"type\": \"plain_text\", \"text\": {{ JSON.stringify($json.subject) }} }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": {{ JSON.stringify($json.body.substring(0, 2900)) }} }\n    }\n  ]\n}",
        "options": {}
      },
      "name": "Send Report (Slack/Webhook)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [950, 100],
      "id": "d1b2c3d4-0004-4000-d000-000000000010"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-critical-1",
              "leftValue": "={{ $json.summary.critical_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "name": "Critical Issues Today?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [950, 350],
      "id": "d1b2c3d4-0004-4000-d000-000000000011"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{\n  json: {\n    subject: `🚨 CRITICAL: ${data.summary.critical_count} critical threats in daily report`,\n    body: `Critical threats detected in today's analysis. Review the daily report immediately.\\n\\n${data.body.substring(0, 1500)}`,\n    priority: 'high'\n  }\n}];"
      },
      "name": "Format Urgent Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 250],
      "id": "d1b2c3d4-0004-4000-d000-000000000012"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.subject) }}\n}",
        "options": {}
      },
      "name": "Send Urgent Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 250],
      "id": "d1b2c3d4-0004-4000-d000-000000000013"
    },
    {
      "parameters": {},
      "name": "No Critical Issues",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1200, 450],
      "id": "d1b2c3d4-0004-4000-d000-000000000014"
    }
  ],
  "connections": {
    "Daily 8AM": {
      "main": [
        [
          {
            "node": "Dashboard Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dashboard Stats": {
      "main": [
        [
          {
            "node": "Passive Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passive Stats": {
      "main": [
        [
          {
            "node": "Active Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Active Stats": {
      "main": [
        [
          {
            "node": "All Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Anomalies": {
      "main": [
        [
          {
            "node": "Traffic Trends (24h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traffic Trends (24h)": {
      "main": [
        [
          {
            "node": "Model Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Metrics": {
      "main": [
        [
          {
            "node": "Recent Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recent Analyses": {
      "main": [
        [
          {
            "node": "Compile Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Daily Report": {
      "main": [
        [
          {
            "node": "Send Report (Slack/Webhook)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Critical Issues Today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical Issues Today?": {
      "main": [
        [
          {
            "node": "Format Urgent Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Critical Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Urgent Alert": {
      "main": [
        [
          {
            "node": "Send Urgent Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "NetGuard",
      "id": "tag-netguard-4"
    },
    {
      "name": "Reporting",
      "id": "tag-reporting-1"
    }
  ],
  "pinData": {}
}
