n8n/5_live_monitoring_management.json
{
  "name": "NetGuard - Live Monitoring Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "netguard-monitor",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Control Monitor",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "e1b2c3d4-0005-4000-e000-000000000001",
      "webhookId": "netguard-monitor-webhook"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "name": "Health Poll (Every 2 Min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 500],
      "id": "e1b2c3d4-0005-4000-e000-000000000002"
    },
    {
      "parameters": {
        "jsCode": "// Parse the webhook body for action and interface\nconst body = $input.first().json.body || $input.first().json;\nconst action = (body.action || 'status').toLowerCase();\nconst iface = body.interface || '';\n\nreturn [{\n  json: {\n    action: action,\n    interface: iface\n  }\n}];"
      },
      "name": "Parse Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0],
      "id": "e1b2c3d4-0005-4000-e000-000000000003"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Start"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "stop",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Stop"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Status"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "interfaces",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Interfaces"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [500, 0],
      "id": "e1b2c3d4-0005-4000-e000-000000000004"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/realtime/start?interface={{ $('Parse Action').first().json.interface }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Start Monitoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, -200],
      "id": "e1b2c3d4-0005-4000-e000-000000000005"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/realtime/stop",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Stop Monitoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, -50],
      "id": "e1b2c3d4-0005-4000-e000-000000000006"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/realtime/status",
        "options": {}
      },
      "name": "Get Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 100],
      "id": "e1b2c3d4-0005-4000-e000-000000000007"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/realtime/interfaces",
        "options": {}
      },
      "name": "Get Interfaces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 250],
      "id": "e1b2c3d4-0005-4000-e000-000000000008"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {}
      },
      "name": "Respond Start",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, -200],
      "id": "e1b2c3d4-0005-4000-e000-000000000009"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {}
      },
      "name": "Respond Stop",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, -50],
      "id": "e1b2c3d4-0005-4000-e000-000000000010"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {}
      },
      "name": "Respond Status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 100],
      "id": "e1b2c3d4-0005-4000-e000-000000000011"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {}
      },
      "name": "Respond Interfaces",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 250],
      "id": "e1b2c3d4-0005-4000-e000-000000000012"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/realtime/status",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Poll Monitor Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 500],
      "id": "e1b2c3d4-0005-4000-e000-000000000013"
    },
    {
      "parameters": {
        "jsCode": "const status = $input.first().json;\nconst autoRestart = true;\nconst expectedRunning = false;\n\nconst isRunning = status.running === true;\nconst flowCounts = status.flow_counts || {};\nconst activeFlows = flowCounts.active || 0;\nconst captureCount = status.captures_completed || 0;\n\nlet needsRestart = false;\nlet alertNeeded = false;\nlet alertMessage = '';\n\n// If we expect it to be running but it's not\nif (expectedRunning && !isRunning && autoRestart) {\n  needsRestart = true;\n  alertNeeded = true;\n  alertMessage = 'Live monitor was expected to be running but is stopped. Auto-restarting...';\n}\n\n// If running but no new flows for a while (stale)\nif (isRunning && captureCount > 5 && activeFlows === 0) {\n  alertNeeded = true;\n  alertMessage = `Live monitor is running but has produced 0 active flows after ${captureCount} captures. May need investigation.`;\n}\n\nreturn [{\n  json: {\n    running: isRunning,\n    interface: status.interface || 'unknown',\n    capture_count: captureCount,\n    active_flows: activeFlows,\n    flow_counts: flowCounts,\n    needs_restart: needsRestart,\n    alert_needed: alertNeeded,\n    alert_message: alertMessage,\n    auto_restart: autoRestart,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Evaluate Monitor Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 500],
      "id": "e1b2c3d4-0005-4000-e000-000000000014"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-restart-1",
              "leftValue": "={{ $json.needs_restart }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Needs Restart?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [780, 500],
      "id": "e1b2c3d4-0005-4000-e000-000000000015"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/realtime/start?interface=lo",
        "options": {}
      },
      "name": "Auto-Restart Monitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 400],
      "id": "e1b2c3d4-0005-4000-e000-000000000016"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"⚠️ NetGuard Live Monitor: {{ $('Evaluate Monitor Health').first().json.alert_message }}\"\n}",
        "options": {}
      },
      "name": "Send Monitor Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 400],
      "id": "e1b2c3d4-0005-4000-e000-000000000017"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-alert-poll-1",
              "leftValue": "={{ $json.alert_needed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Alert Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 600],
      "id": "e1b2c3d4-0005-4000-e000-000000000018"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"ℹ️ NetGuard Monitor Health: {{ $('Evaluate Monitor Health').first().json.alert_message }}\"\n}",
        "options": {}
      },
      "name": "Send Health Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 550],
      "id": "e1b2c3d4-0005-4000-e000-000000000019"
    },
    {
      "parameters": {},
      "name": "Monitor OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1300, 700],
      "id": "e1b2c3d4-0005-4000-e000-000000000020"
    }
  ],
  "connections": {
    "Webhook - Control Monitor": {
      "main": [
        [
          {
            "node": "Parse Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Action": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Start Monitoring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop Monitoring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Interfaces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Monitoring": {
      "main": [
        [
          {
            "node": "Respond Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Monitoring": {
      "main": [
        [
          {
            "node": "Respond Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "Respond Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Interfaces": {
      "main": [
        [
          {
            "node": "Respond Interfaces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Poll (Every 2 Min)": {
      "main": [
        [
          {
            "node": "Poll Monitor Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Monitor Status": {
      "main": [
        [
          {
            "node": "Evaluate Monitor Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Monitor Health": {
      "main": [
        [
          {
            "node": "Needs Restart?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Restart?": {
      "main": [
        [
          {
            "node": "Auto-Restart Monitor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Restart Monitor": {
      "main": [
        [
          {
            "node": "Send Monitor Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Needed?": {
      "main": [
        [
          {
            "node": "Send Health Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Monitor OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "NetGuard",
      "id": "tag-netguard-5"
    },
    {
      "name": "Live Monitoring",
      "id": "tag-live-1"
    }
  ],
  "pinData": {}
}
